@media (max-width: 480px){
  button{
    width: fit-content;
    height: fit-content;
  }
}
@media (min-width: 480px){
  button{
    height: 3rem;
    width: 16rem;
  }
}

button{
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  touch-action: manipulation;
  border-radius: 8px;
  border: 10px solid;
  border-width: 5px;
  background-color: #dd7a01;
  border-color: #dd7a01;
  transition: all 1s ease;
}

.negative{
    background-color: transparent;
}
button:hover {
  box-shadow: #dd7a01 0 1px 30px;
}
.standard:hover{
    background-color: transparent;
}
.negative:hover{
    background-color: #dd7a01;
}
button:active{
    background-color: #d2750a;
    box-shadow: #dd7a01 0 1px 30px;
}

